/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Avenir-Medium;
    src: url(src/assets/fonts/Avenir.ttc);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Avenir-Medium;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
}
